<div popup-button></div>

<div items-table></div>

<div id="flex-container" ng-if="status">
    <div id="popup">
        <header>
            <div id="logo">
                <span>&#9884;</span> Test Popup
            </div>
        </header>
        <div items-table></div>
        <div id="clear"></div>
        <footer>
            <ul>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Order</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </footer>
        <div class="close_popup" ng-click="closePopup()">&#9746;</div>
    </div>

    <div id="overlay"></div>
</div>
