<h1>Graphs App</h1>

<svg xmlns="http://www.w3.org/2000/svg"
     ng-attr-width="{{ dimensions.clientWidth }}"
     ng-attr-height="{{ dimensions.clientHeight }}">

    <circle data="{{'001'}}"
            ng-attr-cx="{{ dimensions.clientWidth / 2}}"
            ng-attr-cy="{{ dimensions.clientHeight / 2 }}"
            ng-attr-r="{{ graphs['001'].links.length * 30}}"
            ng-attr-fill="{{ graphs['001'].color }}"
            ng-click="renderLinks($event)">
    </circle>

    <!--<circle ng-repeat="graph in graphs[0].links"
            ng-attr-id="{{ graphs[graph].id }}"
            ng-attr-cx="{{ 20 + $index *30}}"
            ng-attr-cy="{{ 20 + $index *20}}"
            ng-attr-r="{{ 3 + $index *20 }}"
            ng-attr-fill="{{ 'blue' }}"
            ng-click="renderLinks()">
    </circle>-->


</svg>



<!--<svg id="draw_area" width="200" height="200"></svg>
<button ng-click="add_circle()">Click</button>-->

<br/><br/>
<popup-button open-popup="openPopup" popupdata="<items-table></items-table>"></popup-button>

<div items-table></div>

<popup-button open-popup="openPopup" popupdata="<p>Lorem Ipsum</p>"></popup-button>

<div popup-window></div>





