<h3>Graphs must be here</h3>
<p>Click here to see the graphs</p>
<a class="button" href="#/graphs" ng-click="renderLinks()">Click Here</a>

<svg xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
     ng-attr-width="{{ dimensions.clientWidth }}"
     ng-attr-height="{{ dimensions.clientHeight }}" >
    <g ng-repeat="graph in linksArray">
        <a xlink:href="" data-ng-href="{{ '#/graph/' + graph.data }}" >
            <circle
                    data="{{ graph.data }}"
                    ng-attr-cx="{{ graph.cx }}"
                    ng-attr-cy="{{ graph.cy }}"
                    ng-attr-r="{{ graph.r }}"
                    ng-attr-fill="{{ graph.fill }}"

                    ng-dblclick="openPopup(true, $event)"
                    >
            </circle>
        </a>
    </g>
</svg>