<svg xmlns="http://www.w3.org/2000/svg"
     ng-attr-width="{{ dimensions.clientWidth }}"
     ng-attr-height="{{ dimensions.clientHeight }}">

    <circle ng-repeat="graph in linksArray"
            data="{{ graph.data }}"
            ng-attr-cx="{{ graph.cx }}"
            ng-attr-cy="{{ graph.cy }}"
            ng-attr-r="{{ graph.r }}"
            ng-attr-fill="{{ graph.fill }}"
            href="#/graph/{{ $index }}"
            ng-click="sglclickFunc($event)"
            ng-dblclick="dblclickFunc($event)"
            >
    </circle>


</svg>
